:root {
	background: #f3f5f9;
	font-family: sans-serif;
	--c-primary: #0079ee;
	--c-secondary: #363b67;
	--footer: var(--c-secondary);
	--nav: transparent;
	--nav-color: black;
}

:root,
body {
	height: 100%;
}

body {
	margin: 0;
}

.surface {
	border-radius: 0.5rem;
	border: none;
	box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.5);
	overflow: hidden;
	position: relative;
}

nav {
	--c-primary: #000;
	--c-primary-1: #0001;
	--c-primary-2: #0002;
	--c-primary-3: #0003;
	grid-template-columns: 1fr auto 1fr;
}

nav > div > a {
	border-radius: 0.5rem;
	font-size: 15px;
	padding: 0.5rem 0.33rem;
}

nav > div:nth-child(2) > a {
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 1px;
}

main,
#events {
	max-width: 80ch;
	margin: 0 auto;
	padding: 1rem;
}

aside {
	background: #eee;
	padding-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	margin: 1.5em 0 1rem;
}

h1 {
	font-size: 2.5em;
	margin-top: 1em;
}

h3 {
	font-size: 1.25em;
}

p {
	line-height: 1.75;
}

ol,
ul {
	line-height: 1.66;
}

a {
	color: currentColor;
	text-decoration-color: var(--c-primary);
}

table {
	border: 1px solid rgba(155, 155, 155, 0.5);
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

th,
td {
	border: 1px solid rgba(155, 155, 155, 0.5);
	padding: 0.5rem;
}

form button {
	background: var(--c-primary);
	border: none;
	border-radius: 3rem;
	cursor: pointer;
	padding: 0.5rem 1rem;
	width: max-content;
}
